body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

/* .parent {
  text-align: center;
}
.parent > ul {
  display: inline-block;
} */